#orgs(ng-if="result")
  .org(ng-if="result.orgs.org")
    .org-container
      img(src="{{result.orgs.org.avatar_url}}", alt="")

      h2 {{result.orgs.org.name}}
      p {{result.orgs.org.blog}}

    .repos-container
      h2 REPOS
  
      ul
        li(ng-repeat="repo in result.orgs.repos track by repo.id")
          .left
            h3 
              a(ng-href="{{repo.html_url}}") {{repo.name}}

            p {{repo.description}}

          .right
            p 
              span.name {{repo.name}}
              span.stargazers {{repo.stargazers_count}}
              span.forks {{repo.forks_count}}

    .members-container
      h2 MEMBERS
      
      .members-list
        ul
          li(ng-repeat="member in result.orgs.members track by member.id")  
            .basic-info
              img(src="{{member.avatar_url}}", alt="")
              h2 
                a(ng-href="{{member.html_url}}") {{member.login}}