#users(ng-if="result")
  .user.container(ng-if="result.users.user")
    .user-container.columns
      .sidebar.one-fourth.column
        .basic-info
          img.avatar(src="{{result.users.user.avatar_url}}", alt="", width="230", height="230")
          h2 {{result.users.user.name}}
          h3 {{result.users.user.login}}

        .additional-info
          ul
            li.location {{result.users.user.location}}
            li.email {{result.users.user.email}}
            li.blog {{result.users.user.blog}}
            li.created_at Joined: {{result.users.user.created_at | date:'dd/MM/yyyy'}}

        .more-info
          ul
            li.followers Followers: {{result.users.user.followers}}
            li.public_repos Public Repos: {{result.users.user.public_repos}}
            li.following Following: {{result.users.user.following}}

        .followers-container(ng-if="result.users.followers.length")
          h2 Followers
          
          .followers-list
            ul
              li(ng-repeat="follower in result.users.followers track by follower.id")  
                .basic-info
                  div.tooltipped.tooltipped-n(aria-label="{{follower.login}}")
                    a(ng-href="/infos/users/{{follower.login}}")
                      img.avatar(src="{{follower.avatar_url}}", alt="", width="50", height="50")

      .main-content.three-fourths.column
        .repos-container
          h2 User Repositories

          .repos-menu
            ul
              li.inline-block
                a.btn(ng-class="{ 'btn-primary': !is_repos_filtered }", ng-click="filter_repos_by('fork')")
                  | All 
                  span.counter(ng-if="result", ng-init="total_length = result.users.repos.length") {{total_length}}
              li.inline-block
                a.btn(ng-click="filter_repos_by('fork', false)", ng-class="{'btn-primary': is_repos_fork == false}")
                  | Sources 
                  span.counter(ng-if="result", ng-init="sources_length = get_repo_type_length('fork', false)") {{sources_length}}
              li.inline-block
                a.btn(ng-click="filter_repos_by('fork', true)", ng-class="{'btn-primary': is_repos_fork == true}")
                  | Forks 
                  span.counter(ng-if="result", ng-init="forks_length = get_repo_type_length('fork', true)") {{forks_length}}

          .repos-list
            ul
              li.blankslate.margin-top-20(ng-repeat="repo in result.users.repos track by repo.id", ng-class="{ fork: repo.fork }")
                a(ng-href="/infos/repos/{{repo.owner.login}}/{{repo.name}}")
                  .repo-info
                    h3 {{repo.name}} ( {{repo.full_name}} )
                    h4 {{repo.description}}
                    ul
                      li.default_branch {{repo.default_branch}}
                      li.last_update Last Commit: {{repo.updated_at | date:'dd/MM/yyyy hh:MM'}}
                      li.forks_count Forks: {{repo.forks_count}}
                      li.watchers_count Watchers: {{repo.watchers_count}}