@import "primer.css"

ul
  list-style none

.margin-top-20
  margin-top 20px

.text-center
  text-align center
  
.inline-block
  display inline-block

.results
  ul
    li
      min-width 50px
      text-align center
      display inline-block
      margin 20px

#users
  .main-content
    padding-left 25px
    
.followers-container
  .followers-list
    ul
      li
        display inline-block
        margin 2px
        
.repos-container
  .repos-list
    ul
      li
        border-color blue
      li.fork
        border-color orange