.results(ng-if="results")
  .orgs.blankslate.margin-top-20(ng-if="results.orgs.length")
    h2 Total de organizações: {{results.orgs.length}}
    ul
      li(ng-repeat="org in results.orgs track by org.id")
        a(ng-href="/infos/orgs/{{org.login}}")
          img.avatar(ng-src="{{org.avatar_url}}", width="50", height="50")
          h3.css-truncate {{org.login}}

  .users.blankslate.margin-top-20(ng-if="results.users.length")
    h2 Total de usuários: {{results.users.length}}
    ul
      li(ng-repeat="user in results.users track by user.id")
        a(ng-href="/infos/users/{{user.login}}")
          img.avatar(ng-src="{{user.avatar_url}}", width="50", height="50")
          h3.css-truncate {{user.login}}

  .repos.blankslate.margin-top-20(ng-if="results.repos.length")
    h2 Total de repositórios: {{results.repos.length}}
    ul
      li(ng-repeat="repo in results.repos track by repo.id")
        a(ng-href="/infos/repos/{{repo.owner.login}}/{{repo.name}}")
          img.avatar(ng-src="{{repo.owner.avatar_url}}", width="50", height="50")
          h3.css-truncate {{repo.full_name}}

  .error(ng-if="results.repos.length == 0 && results.users.length == 0 && results.orgs.length == 0")
    h2 Alguma coisa deu errado, tente novamente!