doctype html

html(lang="en")
  head
    meta(charset='utf-8')
    base(href="/")
    title Github Test
    // inject:css 
    // endinject 
  body(ng-app="app" ng-controller="appController")
    #wrap
      header.masthead
        .container
          a(href='/') Home

      .container
        ng-view(id="ng_view")

    // inject:js 
    // endinject 
